/* CSS for all*/
:root{
    --red: #ff2d55;
    --yellow: #f9ca24;
    --green: #6ab04c;
    --header: #2c2c2c;
    --primary: #ff7979;
    --text: #353233;
    --subtext: #8c8b8b;
    --bg: #f2f2f2;
    --btn: #fb655f;
}
.my-count{
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount;
}
a{
    text-decoration: none;
    color: #000;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bd-bottom{
    border-bottom: 1px solid #ccc;
}
.dp-inline{
    display: inline-block;
}
.dp-block{
    display: block;
    width: 100%;
}
.txt-red{
    color: var(--red);
}
.txt{
    color: var(--text);
}
.sub-txt{
    color: var(--subtext);
}
.txt-bold{
    font-weight: bold;
}
.txt-italic{
    font-style: italic;
}
.txt-justify{
    text-align: justify;
}
.my-link:hover{
    color: var(--red);
}
.my-sub-link{
    color: var(--subtext);
    font-size: 0.9rem;
    line-height: 1.8rem;
}
.my-sub-link:hover{
    color: var(--subtext);
    text-decoration: underline;
}
.flex-end{
    display: flex;
    align-items: flex-end;
}
html{
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
.title{
    font-size: 1.5rem;
    color: var(--red);
    line-height: 1.5rem;
}
.px-10{
    padding-left: 10%;
    padding-right: 10%;
}
.mx-10{
    margin-left: 10%;
    margin-right: 10%;
}
.mx-20{
    margin-left: 20% !important;
    margin-right: 20% !important;
}
.btn-tran{
    background-color: transparent !important;
    border: none;
}
.clearfix{
    float: none;
}
.border-left{
    border-left: 5px solid var(--red);
}
.divider{
    height: 1px;
    margin-left: 0.7rem;
    background-color: var(--subtext);
}
/* CSS for header */
.header-main{
    background-color: var(--header);
    min-height: 8vh;
}
.header-main{
    display: flex;
    align-items: center;
}
.header-main form input{
    font-style: italic;
}
.header-main .my-icon{
    display: flex;
    align-items: center;
}
.header-main .my-login{
    display: flex;
    align-items: center;
}
.header-main .login{
    margin: 0;
}
.my-history{
    color: #fff;
    font-size: 1.2rem;
}
.login a:hover{
    text-decoration: underline;
}
#search{
    background-color: #fff;
}
.my-search{
    color: var(--subtext);
}
.header-main form input[type=search]{
    border-color: #fff;
}

.header-bottom{
    background-color: var(--bg);
}
.header-bottom .my-dot{
    color: var(--text);
}
.my-upload{
    color: #fff;
    background-image: linear-gradient(to right, #fb655f, #ff2d55);
    border-radius: 20px;
}
.my-upload:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: #fff;
}
.my-nav-1{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 10px;
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: #fff;
    z-index: 1;
}
.my-nav>li:hover>.my-nav-1{
    display: block;
    animation: cross-nav ease-in-out 0.5s;
}
.my-nav-1 li{
    padding: 5px 0;
}
.my-drop{
    position: absolute;
    width: 100vw;
}
.drop-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed #000;
}
.drop-top ul{
    display: block;
}
.drop-bottom{
    display: flex;
}
.drop-bottom ul{
    display: block;
    margin-right: 4rem;
}

/* CSS for banner */
.banner img{
    width: 100%;
}

/* CSS for slider */
.featured-song{
    min-height: 400px;
}
.slider{
    background-color: var(--bg);
}
.col-20{
    width: 20%;
}
.box .box-img{
    background-image: url("../images/play.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.box .box-img img{
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
}
.box .box-img:hover img{
    opacity: 0.6;
    animation: blur ease-in-out 0.2s;
}
@keyframes blur {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.6;
    }
}
@keyframes cross-nav {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.box-content a{
    display: block;
}

/* Css for main */
.all-rank{
    position: absolute;
    color: #fff;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Css for slidebar */
.my-nav{
    justify-content: space-between;
}
.nav-tabs .nav-link{
    border-width: 3px 3px 3px 3px;
    padding-left: 0;
    padding-right: 0;
}
.nav-tabs .nav-link.active{
    color: var(--red);
    border-color: #fff #fff var(--red);
}
.nav-tabs .nav-link:hover{
    border-color: #fff #fff var(--red);
}
.my-sing-rank-1 p, .my-sing-rank p, .my-sing p{
    margin: 0;
    font-size: 0.9rem;
}
.my-sing-rank-1 .col-4, .my-sing-rank .col-1, .my-sing .col-1{
    position: relative;
}
.my-sing-rank-1 .rank-first{
    color: var(--yellow);
    font-size: 1.5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 1.5rem;
}
.my-sing-rank .rank-second{
    color: var(--green);
    font-size: 1.5rem;
    position: absolute;
    left: 1.5rem;
}
.my-sing-rank .rank-third{
    color: var(--red);
    font-size: 1.5rem;
    position: absolute;
    left: 1.5rem;
}
.my-sing-rank .rank-th{
    font-size: 1.5rem;
    position: absolute;
    left: 1.5rem;
}
.my-sing-rank-1 img, .my-sing-rank img , .my-sing img{
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.my-sing-rank-1 .col-6, .my-sing-rank .col-1, .my-sing .col-1{
    display: flex;
    align-items: center;
}
.my-sing-rank-1 .name-sing p{
    margin: 0;
}
.my-sing-rank-1 .col-2{
    display: flex;
    align-items: center;
}
